<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
     <!-- import Semantic UI Lab 01 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <section class="ui blue segment">
    <header class="ui header">
      <h1 class ="ui blue center aligned header">
        A Dream of the Past,Present and Future
      </h1>
    </header>
      </section>

    <main>
      <section class="ui stacked segment">
      <p class="bold">Oh hello,</p>
      
      <p>Tell me your favourite food:</p>
      
        <div class = "ui form">
        <div class="inline field">
        <input name="dream" type="text" maxlength="100" placeholder="Food!" aria-labelledby="submit-dream">
        <button class ="ui submit button" type="submit" id="submit-dream">Submit Food</button>
        </div>
        </div>
        <div class="ui two column very relaxed grid">
          <div class ="column">
            
        <ul id="dreams">
         <li>Burgers</li>
    <li>Pizza</li>
        </ul>
          </div>
          <div class ="column">
            <img class = "ui  image" src="https://cdn.hyperdev.com/click-me.svg">
          </div>
      
        </div>
      </section>
        </main>
    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
